* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  border: none;
  outline: none;
}
.container h1 {
  margin: 50px 0;
}
.container h1::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  background-color: #007bff;
  width: 100px;
  height: 6px;
  margin-top: 5px;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product {
  background-color: #fbfbfb;
  padding: 20px;
  display: flex;
  gap: 20px;
  border: 1px solid #32323219;
}
.product-img img {
  width: 100%;
  height: 100%;
}
.product-info {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}
.product-info p {
  color: #323232;
  font-size: 20px;
  font-weight: 700;
}
.product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-info .new {
  color: #28a745;
  font-size: 18px;
  font-weight: 700;
}
.product-info .old {
  color: #dc3545;
  font-size: 16px;
  font-weight: 400;
  text-decoration: line-through;
}
.product-dynamic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
.del img {
  width: 38px;
  height: 38px;
  cursor: pointer;
}
.product-amount {
  display: flex;
}
.product-amount span {
  border: 1px solid #32323219;
  width: 32px;
  aspect-ratio: 1/1;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.decrease,
.increase {
  cursor: pointer;
}
